html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #000000;
  top: 0;
  left: 0;
  border-bottom: 1px solid #2C1F0F;
}

.header__logoContaner {
  margin: 41px 0 15px 40px;
  width: 150px;
}

.header__logofl {
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  color: #de9b49;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__logosl {
  font-size: 12px;
  font-family: 'Lora', sans-serif;
  color: #de9b49;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 20px;
}

.nav {
  width: 455px;
}

.nav__link {
  display: inline-block;
  font-size: 12px;
  font-family: 'Lora', sans-serif;
  color: #de9b49;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: bottom;
  height: 28px;
}

.nav__link:hover {
  border-bottom: 1px solid #de9b49;
}

.purchaseCounter {
  width: 150px;
  padding-bottom: 18px;
}

.purchaseCounter__name {
  font-size: 12px;
  font-family: 'Lora', sans-serif;
  color: #de9b49;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.purchaseCounter__trolleyIco {
  font-size: 16px;
  font-family: 'FontAwesome', sans-serif;
  color: #de9b49;
}

.purchaseCounter__figure {
  display: inline-block;
  transform: translateY(-100%);
  width: 23px;
  height: 23px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
  font-size: 12px;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  color: #000000;
}

.start {
  height: 95vh;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.start__mainPictureContaner {
  width: 430px;
  height: auto;
}

.start__mainPicture {
  width: 100%;
}

.start__socNetworks {
  margin-bottom: 40px;
}

.start__socNetworkLine {
  display: inline-block;
  margin: 21px 9px;
  width: 45px;
  height: 3px;
  background-color: #de9b49;
  vertical-align: middle;
}

.start__socNetwork {
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  font-size: 14,93px;
  font-family: 'FontAwesome', sans-serif;
  color: #de9b49;
  border: 2px solid #de9b49;
  margin: 0 8px;
}

.whitePartWelcome {
  height: 842px;
}

.whitePartWelcome__contaner {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 1170px;
  height: auto;
  transform: translateY(-48px);
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
}

.squareFoto {
  width: 50%;
  height: 470px;
}

.squareFoto__foto {
  width: 100%;
}

.squareText {
  width: 50%;
  height: 470px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.squareText__layout {
  position: absolute;
  top: 94px;
  left: 96px;
  width: 585px;
  height: 470px;
  font-size: 56px;
  font-family: 'Oswald', sans-serif;
  color: #ebd8b6;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 0;
}

.squareText__title {
  position: relative;
  padding: 18% 0 6% 13%;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
}

.squareText__description {
  position: relative;
  padding: 0 13% 0 13%;
  font-size: 18px;
  line-height: 36px;
  font-family: 'Lora', sans-serif;
  color: #484238;
}

.blackPartOpeningTime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 631px;
  background-color: #000000;
}

.oneColumnTable {
  color: #ffeac6;
  height: auto;
  font-size: 18px;
  font-family: 'Lora', sans-serif;
}

.oneColumnTable__title {
  font-size: 20px;
  line-height: 57px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  letter-spacing: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.oneColumnTable__day {
  text-align: right;
  line-height: 40px;
}

.oneColumnTable__middle {
  padding: 0px 15px;
}

.whitePartNameOf {
  height: 1782px;
}

.whitePartNameOf__contaner {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 1170px;
  height: auto;
  transform: translateY(-48px);
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
}

.blackPartOurPricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 527px;
  background-color: #000000;
}

.blackPartOurPricing__title {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  letter-spacing: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.blackPartOurPricing__contaner {
  display: flex;
  justify-content: space-between;
  width: 875px;
}

.twoColumnTable {
  color: #ffeac6;
  height: auto;
  font-size: 18px;
  font-family: 'Lora', sans-serif;
}

.twoColumnTable__title {
  font-size: 20px;
  line-height: 70px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  letter-spacing: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.twoColumnTable__cutName {
  width: 330px;
  line-height: 40px;
  border-bottom: 1px dashed #ffeac6;
}

.twoColumnTable__middleSpace {
  width: 90px;
}

.twoColumnTable__price {
  text-align: right;
  border-bottom: 1px dashed #ffeac6;
}

.whitePartOurProducts {
  height: 1425px;
}

.ourProducts {
  background-color: white;
  margin: auto;
  width: 1170px;
  transform: translateY(-49px);
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
}

.ourProducts__title {
  text-align: center;
  font-size: 20px;
  padding: 110px 0px 45px 0px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  letter-spacing: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.ourProducts__nav {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 455px;
}

.ourProducts__contaner {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ourProducts__link {
  display: inline-block;
  font-size: 14px;
  font-family: 'Lora', sans-serif;
  color: #474137;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 17px;
  box-sizing: border-box;
  vertical-align: bottom;
  height: 28px;
}

.ourProducts__link:hover {
  border-bottom: 1px solid #000000;
}

.product {
  width: 349px;
  height: 433px;
  margin: 0 0 30px 0;
  background-color: #F5F5F5;
}

.product__fotoWrapper {
  position: relative;
  width: 100%;
  height: 350px;
}

.product__name {
  font-size: 18px;
  font-family: 'Lora', sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
}

.product__price {
  text-align: center;
}

.product__priviousPrice {
  margin-right: 16px;
  font-size: 18px;
  font-family: 'Lora', sans-serif;
  color: #999999;
  text-decoration: line-through;
}

.product__sale {
  font-size: 18px;
  font-family: 'Lora', sans-serif;
  color: #000000;
}

.product__buyIco {
  position: absolute;
  right: 12px;
  bottom: 14px;
  width: 55px;
  height: 55px;
  background-color: #F5F5F5;
  font-size: 25px;
  font-family: 'FontAwesome', sans-serif;
  color: #000000;
  line-height: 55px;
  text-align: center;
}

.ourAddress {
  margin: auto;
  width: 459px;
  height: 193px;
  background-color: #0C0C0C;
  transform: translateY(79px);
}

.ourAddress__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateY(3px);
  margin: auto;
  width: 447px;
  height: 181px;
  border: 3px solid #FFFFFF;
  color: #f5f5f5;
  text-align: center;
  line-height: 36px;
  font-size: 18px;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
}

.footer {
  background-color: #111111;
}

.footer__contaner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1170px;
  height: 81px;
  line-height: 81px;
}

.footer__copyright {
  margin-right: 5px;
  font-size: 16px;
  color: #b5b5b5;
  font-family: 'Playfair Display', sans-serif;
}

.footer__site {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.footer__socNetworks {
  font-size: 16px;
  font-family: 'FontAwesome', sans-serif;
  color: #fbfbfb;
  letter-spacing: 15px;
}
